@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
:root {
    font-family: "Source Code Pro", monospace;
    color-scheme: dark;
}
.banner-bg {
  background-image: url('assets/Banner.jpg');
  background-size: cover;
  background-position: center;
}